@import '../../style/colors.scss';

.header-main {
  h1 {
    margin-bottom: 0;
    color: $color-text-primary;
  }

  .breadcrumb {
    display: flex;
    align-content: center;
    margin-top: -5px;
    font-size: 13px;
    color: $color-text-secondary;
  }
}