$color-main: #5D9CEC;

// Background
$color-dark: #333232;
$color-light: #F5F5F5;


// Text
// on Dark
$color-text: black;
$color-text-light: #dcdcdc;
// on Light
$color-text-primary: #323232;
$color-text-secondary: #a8a8a8;